<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Rejestracja.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="skalaModelu" value="1:9,1:16,1:25,1:33,1:43,1:48,1:50,1:100,1:150,1:200,1:250,1:300,Inna" />-->
    <!--<add key="kategoriaModelu" value="Standard,Waloryzowane (Open)" />-->
    <!--<add key="wydawnictwo" value="GPM,Answer,WAK,Kartonowa Kolekcja,Mały Modelarz,JSC,Modelik,Orlik MK,Haliński,Model-Kom,Orel,WMC,Dom Bumagi,Draf Model,Szkutnik,Wektor,Sklej Model,Hobby Model,AJ Model,Model Hobby,Quest,Internet,Inne" />-->
    <add key="nagłówkiTabelaRejestracji" value="Nr Rej.,Dodane,Email,Imię,Nazwisko,Rok Ur.,Klub,Grupa Wiekowa,Nazwa Modelu,Kategoria,Klasa,Skala,Wydawnictwo" />
    <add key="nagłówkiTabelaNagród" value="Id,Tytuł,Opis" />
    <add key="nagłówkiTabelaWyników" value="Id,Nr Modelu,Grupa Wiekowa,Klasa,Kategoria/Nagroda,Model,Miejsce" />
    <add key="nagłówkiDokumentWyników" value="L.p.,Imię i Nazwisko,Nazwa Modelu,MIEJSCE" />
    
    <add key="templateKartyModelu" value="templates\kartaModelu.docx" />
    <add key="templateKartySędziowania" value="templates\kartaSedziowania.docx" />
    <add key="templateDyplomuNagrody" value="templates\dyplomNagroda.docx" />
    <add key="templateDyplomuKategorii" value="templates\dyplomKategoria.docx" />
    <add key="templateWynikow" value="templates\wyniki.html" />
    
    <add key="folderDokumentów" value="dokumenty" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <userSettings>
    <Rejestracja.Properties.Settings>
      <setting name="DataFile" serializeAs="String">
        <value />
      </setting>
    </Rejestracja.Properties.Settings>
  </userSettings>
</configuration>